:root{
    --primary-color:#f244a4;
    --secondary-color:#fb96ce;
}
body{
    background-color:#121212;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.linkIcon{
    width:48px;
    margin-right:5px;
}

a{
    color:var(--primary-color);
}

footer{
    background-color: #222;
}

.button{
    background-color: var(--primary-color);
    color:white;
    width:fit-content;
    border-radius: 30px;
    padding:10px;
    text-align: center;
    & > a{
        line-height: 100%;
        color:white
    }
}