:root{
    --primary-color:#f244a4;
    --secondary-color:#fb96ce;
}

html { 
    scroll-behavior: smooth;
    background-color: #222;
}

body{
    /* background-color:#121212; */
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 30px;
    position: relative;
}

.linkIcon{
    width:48px;
    margin-right:5px;
}

a{
    color:var(--primary-color);
}

footer{
    background-color: #222;
    padding: 10px;
    padding-left:40px;
}

.email-button{
    background-color: var(--primary-color);
    color:white;
    width:fit-content;
    border-radius: 30px;
    padding:10px;
    text-align: center;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    gap:1ch;
    cursor:pointer;
}

.contact-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:1ch;
}