@import url(/all.css);
/* 
#list-container{
    height:80px;
} */

.list-item{
    font-size: 32px;
    transition: 300ms;
    width:300px;
    height:64px;
    margin-left:50px;
    margin-top:16px;
    margin-bottom:16px;
    vertical-align: bottom;
    display:flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
}

.background-image{
    opacity: 0.4;
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -100;
    top:0;
    /* bottom:0; */
}

.list-item:hover{
    font-size: 48px;
    /* margin-bottom:0; */
    /* margin-top:0;
    /* background-color: red; */
}

.about-conatiner{
    background-color: #222;
    border-radius: 40px;
    border: 5px solid gray;
    padding: 10px;
    width:fit-content;
    margin:30px;
}

#main{
    display: flex;
    margin:0 auto;
    justify-content:center;
}

#myImage{
    margin: 0 -15px -90px -15px;
}

#face-container{
    border-radius: 50%;
    overflow: hidden;
    /* margin: -30px 0 -30px 0; */
}

#main-links{
    margin-left:30px;
    height:220px;
}

.main-link{
    font-size: 32px;
    background-color: #222;
    border: 5px solid cyan;
    border-bottom-width: 15px;
    border-bottom-color:magenta;
    border-right-color:magenta;
    border-radius: 20px;
    padding: 5px;
    transition: 100ms;
    margin-bottom: 15px;
    margin-top: 10px;
    /* position:relative */
}

.main-link:hover{
    margin-top: 20px;
    border-bottom-width: 5px;
}

#photos{
    display:flex;
    flex-wrap: wrap;
    gap:3px;
    justify-content: space-around;
}

#photos > img{
    height:300px;
}

.project-container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}

.project-box{
    background-color: #222;
    border-color:var(--secondary-color);
    border-width:5px;
    border-style:solid;
    border-radius: 25px;
    /* padding:10px; */
    overflow: hidden;
    display: flex;
    width:fit-content;
    position: relative;
    max-width:800px;
    height:160px;
}

.project-description{
    max-width:378px;
    border-left: 2px gray solid;
    text-wrap-mode: wrap;
    padding-left: 10px;
    & > a{
        color: #2dd
    }
}

.project-links{
    position: absolute;
    bottom: 0;
    right:0;
}

.project-picture{
    width:210px;
    object-fit: contain;
}

h1{
    text-align: center;
    font-size:50px;
}

h2{
    font-size: 30px;
    margin: 10px 0;
}