@import url(./all.css);
/* 
#list-container{
    height:80px;
} */

#content{
    margin: 0 30px;
}

.background-image{
    opacity: 0.5;
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -100;
    top:0;
    /* bottom:0; */
}

.list-item{
    font-size: 32px;
    width:300px;
    height:64px;
    /* margin-left:50px; */
    margin-top:16px;
    margin-bottom:16px;
    /* vertical-align: bottom; */
    display:flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
}

.list-item > a{
    transition: font-size 300ms;
}

.list-item > a:hover{
    font-size: 48px;
}

.about-conatiner{
    background-color: #222;
    border-radius: 40px;
    border: 5px solid gray;
    padding: 10px;
    width:fit-content;
    margin:30px;
    font-size: 20px;
}

#main{
    display: flex;
    margin:0 auto;
    justify-content:center;
    align-items: center;
    gap: 10%;
}

#myImage{
    margin: 0 -15px -90px -15px;
}

#face-container{
    height:210px;
    width:210px;
    border-radius: 50%;
    overflow: hidden;
    /* margin: -30px 0 -30px 0; */
}

#main-links{
    /* margin-left:30px; */
    /* min-width: fit-content; */
    height: fit-content;
}

.link-button-container{
    height:85px;
    display: flex;
    align-items: flex-end;
    width:fit-content;
}

.link-button{
    font-size: 32px;
    background-color: #222;
    border: 5px solid cyan;
    border-bottom-width: 15px;
    border-bottom-color:var(--primary-color);
    border-right-color:var(--primary-color);
    border-radius: 20px;
    padding: 5px;
    transition: 100ms;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 0 0 #0008;
    /* position:relative */
}

.link-button-container:hover > .link-button{
    border-bottom-width: 5px;
    box-shadow: 5px 5px 0 0 #0008;
}

.photos{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.photos > img{
    height:300px;
    border-radius: 30px;
    border:#555 solid 10px;
}

#meteor{
    max-width: 300px;
    margin-left: 200px;
    transform: scaleX(-1);
}

#projects{
    font-size: 40px;
}

.project-container{
    display:flex;
    flex-wrap: wrap;
    gap:5px;
    margin-left:20px;
    justify-content: center;
}

.project-box{
    background-color: #222;
    border-color:var(--secondary-color);
    border-width:5px;
    border-style:solid;
    border-radius: 25px;
    /* padding:10px; */
    overflow: hidden;
    display: flex;
    width:fit-content;
    position: relative;
    max-width:800px;
    max-height:fit-content;
}

.project-description{
    max-width:378px;
    border-left: 2px gray solid;
    text-wrap-mode: wrap;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    & > a{
        color: #2dd
    }
}

.project-links{
    display: flex;
    width:100%;
    flex:1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:20px
}

.project-picture{
    max-width:210px;
    min-width:105px;
    max-height: 180px;
    object-fit: contain;
}

.dog-container{
    background-color: #222;
    border-radius: 40px;
    border: 5px solid gray;
    padding: 10px;
    width:fit-content;
    margin:30px;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size:64px;
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
    margin: 10px 0;
}