body{
    background-color:#121212;
    color:white;
}
.container{
    border-color:gray;
    border-width:5px;
    border-style:solid;
    border-radius: 25px;
    padding:20px;
    width:fit-content;
}