@import url(all.css);
/* 
#list-container{
    height:80px;
} */

.list-item{
    font-size: 32px;
    transition: 300ms;
    width:500px;
    height:64px;
    margin-left:50px;
    margin-top:16px;
    margin-bottom:16px;
    vertical-align: bottom;
    display:flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */

    
}

.list-item:hover{
    font-size: 48px;
    /* margin-bottom:0; */
    /* margin-top:0;
    /* background-color: red; */
}

#main{
    display: flex;
}

#myImage{
    margin: 0 -15px -90px -15px;
}

#image-container{
    border-radius: 50%;
    overflow: hidden;
    /* margin: -30px 0 -30px 0; */
}

#photos{
    display:flex;
    flex-wrap: wrap;
}

#photos > img{
    height:300px;
}

.container{
    border-color:gray;
    border-width:5px;
    border-style:solid;
    border-radius: 25px;
    padding:20px;
    width:fit-content;
}