@import url(all.css);

#list-container{
    height:64px;
}

.list-item{
    font-size: 32px;
    transition: transform 300ms;
    width:fit-content;
    height:fit-content;
    margin-left:100px;
    align-self: center;
}

.list-item:hover{
    transform: scale(1.5);
    /* background-color: red; */
}