@import url(/all.css);
/* 
#list-container{
    height:80px;
} */

.list-item{
    font-size: 32px;
    transition: 300ms;
    width:300px;
    height:64px;
    margin-left:50px;
    margin-top:16px;
    margin-bottom:16px;
    vertical-align: bottom;
    display:flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */

    
}

.list-item:hover{
    font-size: 48px;
    /* margin-bottom:0; */
    /* margin-top:0;
    /* background-color: red; */
}

#main{
    display: flex;
    margin:0 auto;
    justify-content:center;
}

#myImage{
    margin: 0 -15px -90px -15px;
}

#face-container{
    border-radius: 50%;
    overflow: hidden;
    /* margin: -30px 0 -30px 0; */
}

#photos{
    display:flex;
    flex-wrap: wrap;
    gap:3px;
    justify-content: space-around;
}

#photos > img{
    height:300px;
}

.project-container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}

.project-box{
    background-color: #222;
    border-color:var(--secondary-color);
    border-width:5px;
    border-style:solid;
    border-radius: 25px;
    /* padding:10px; */
    overflow: hidden;
    display: flex;
    width:fit-content;
    position: relative;
    max-width:800px;
}

.project-description{
    max-width:378px;
    border-left: 2px gray solid;
    text-wrap-mode: wrap;
    padding-left: 10px;
}

.project-links{
    position: absolute;
    bottom: 0;
    right:0;
}

.project-picture{
    width:210px;
    height:166px;
    object-fit: contain;
}

h1{
    text-align: center;
}

